<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
">
    <bean id="notes" class="metier.Meilleure">
        <property name="n1" value="7"></property>
        <property name="n2" value="17"></property>
    </bean>
    <bean id="etudiant" class="metier.Etudiant">
        <property name="notes" ref="notes"></property>
    </bean>
</beans>
